*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
 



.day{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    left: 0;
    right: 0;
    border-bottom: 2px solid #303030;
    
}


.week{
    display: flex;
    align-items: center;
    margin-left: 35px;
    justify-content: center;
}



.days{
    display: flex;
    grid-template-columns: 1fr 1fr;
}

.void{
    flex: 1;
}


.content{
    
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: center;
    padding-bottom: 24px;
}
.day-num-h5{
    font-size: 1rem;
    margin-right: 90px;
    color: #ffffff;
   
}

/* .seg{
    margin-left: 45px;
    padding-right: 5px;
}

.ter{
    margin-left: 14px;
}

.sex{
    margin-left: 10px;
} */

.day-num-h4{
    font-size: .8rem;
    background-color: #ffffff;
    padding: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;  
    color: #000;
}



@media (min-width: 375px){
    .week{
        /* margin-left: 5px; */
        gap: 1rem;
    }

    .content{
        gap: 1rem;
    }

    .day-num-h5{
        margin-right: 0px;
        padding: 0 3px 0 5px ;
    }

    .seg{
        margin-left: 0px;
        padding-right: 0px;
    }
    
    .ter{
        padding-right: 10px;
      
    }
    
    .sex{
        padding-left: 12px;
        padding-right: 10px; 
        margin-left: 0px;
    }

    .dom{

        padding-right: 36px;
    }

    
}

@media (max-width: 374px){

    
    .week{
        font-size: 2rem;
        gap: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .content{
        gap: 0.5rem;
    }

    
    
    .day-num-h5{
      
        margin-right: 0px;
        padding: 0 3px 0 5px ;
    }

    .seg{
        margin-left: 0px;
        padding-right: 0px;
    }
    
    .ter{
        padding-right: 0px;
      
    }
    
    .sex{
        padding-left: 0px;
        padding-right: 0px; 
        margin-left: 0px;
    }

    .dom{
        
        background-color:#000;
    }

    .sete{
        margin-right: 0;
    }

    .day-num-h4{
        padding:18px;
        font-size: .8rem;
    }

    
}

@media(min-width : 700px) {
    .content{
        gap: 2.5rem;
    }

    .day-num-h4{
        padding: 30px;
        font-size: 1.4rem;
    }
}

