*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}





.day{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    left: 0;
    right: 0;
    border-bottom: 2px solid #303030;
    gap: .5rem;
}


.week{
    display: flex;
    align-items: center;
    
    justify-content: center;
}



.days{
    display: flex;
    grid-template-columns: 1fr 1fr;
}

.void{
    flex: 1;
}


.content{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: center;
    padding-bottom: 24px;
    color: #000;
}
.day-num-h5{
    font-size: 13px;

    color: #ffffff;
   
}




.day-num-h4{
    font-size: .8rem;
    background-color: #ffffff;
    padding: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;  
    color: #000000;
}



/* dias feitos e não feitos */
.finally-day{
    background-color: #06E00E;
    font-size: 1.2rem;
    text-align: center;
}


.incomplete-day{
    background-color: #ff0b0b;
    color: #000;
    font-size: 1.2rem;
    text-align: center;
}

span{
    color:  black;
}
@media (min-width: 390px){
    .week{
        padding-left: 10px;
        gap: 23px;
    }

    .content{
        gap: 1rem;
        
    }

    .day-num-h5{
       
        font-size: 20px;
       
        color: #ffffff;
           
        
    }
    

    
}

@media (max-width: 389px){
    .week{
        
        gap: 28px;
    }

    .content{
        gap: 1rem;
    }

    .day-num-h5{
       
        font-size: 15px;
       
        color: #ffffff; 
    }

    .day-num-h4{
        padding:18px;
        font-size: .8rem;
        
    }

    
}

@media (max-width: 374px){

    
    .week{
        font-size: 2rem;
        gap: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .content{
        gap: 0.8rem;
    }

    
    
    .day-num-h5{
      
        margin-right: 0px;
        padding: 0 3px 0 5px ;
    }

    

    .day-num-h4{
        padding:16px;
        font-size: .75rem;
    }

    
}

@media(min-width : 700px) {
  
    .content{
        gap: 2.5rem;
    }

    .day-num-h4{
        padding: 30px;
        font-size: 1.4rem;
    }

    
}

