.options-icons span .Link{
    color: #000000;
}

/* @media (max-width: 999px){ */
.Options{
    background-color: #202020;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.options-content{
    color: #000000;
    
    padding: 30px;
    background-color: #06E00E;

}

.options-icons{
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    align-items: center;
}


@media (max-width: 360px){
    .Options{
        background-color: #202020;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
    
    .options-content{
        color: #000000;
        
        padding: 30px;
        background-color: #06E00E;
    
    }
    
    .options-icons{
    
        font-size: 2rem;
        display: flex;
        justify-content: space-around;
        gap: 3rem;
        align-items: center;
    }
}