.Main {
    width: 100%;
    height: 100%;
}
.QuestionAnswer {
    padding: 10px;
    height: 90vh;
}
.Question {
    text-align: center;
}
.Answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.QuestionAnswer_content p{
    color: white;
    font-size: 30px;
    text-align: center;
}
.QuestionAnswer_content {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Answer_content {
    height:100%;
    width: 100%;
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
@media only screen and (min-device-width: 500px) {
    .Answer_content {
        height:100%;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
.tip {
    color: gray;
    font-size: 20px;
    text-align:center;
}
.DifficultButtons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row-reverse;
}
